{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
            <tr>
                <td>
                    <p class="h3 text-center">Gráfico de Temperatura</p>
                    <canvas id="temperatureChart" width="800" height="300"></canvas>
                </td>
            </tr>
        
            <tr>
                <td>
                    <p class="h3 text-center">Gráfico de Umidade</p>
                    <canvas id="humidityChart" width="800" height="300"></canvas>
                </td>
            </tr>
        
            <tr>
                <td>
                    <p class="h3 text-center">Gráfico de Pressão Atmosférica</p>
                    <canvas id="pressureChart" width="800" height="300"></canvas>
                </td>
            </tr>
        
            <tr>
                <td>
                    <p class="h3 text-center">Gráfico de Concentração de CO2</p>
                    <canvas id="co2Chart" width="800" height="300"></canvas>
                </td>
            </tr>
                
            <tr>
                <td>
                    <p class="h3 text-center">Gráfico de Concentração de TVOC</p>
                    <canvas id="tvocChart" width="800" height="300"></canvas>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var ctx_temp = document.getElementById("temperatureChart");
    var ctx_humi = document.getElementById("humidityChart");
    var ctx_press = document.getElementById("pressureChart");
    var ctx_co2 = document.getElementById("co2Chart");
    var ctx_tvoc = document.getElementById("tvocChart");

    //var temp_values = JSON.parse('{{ temp_values|safe }}');
    var temp_values = [28.5, 30.2, 32.3, 30.5, 29.3, 28.5, 27.9, 26.2, 25.3, 23.0];
    var temp_times = ['11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30'];

    var humi_values = JSON.parse('{{ humi_values|safe }}');
    var press_values = JSON.parse('{{ press_values|safe }}');
    var co2_values = JSON.parse('{{ co2_values|safe }}');
    var tvoc_values = JSON.parse('{{ tvoc_values|safe }}');

    var temperatureChart = new Chart(ctx_temp, {
        type: 'line',
        data: {
            labels: temp_times,
            datasets: [{
                label: 'Temperatura (°C)',
                data: temp_values,
                backgroundColor: [ 'rgba(255, 99, 132, 0.2)' ],
                borderColor: [ 'rgba(255,99,132,1)' ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    var humidityChart = new Chart(ctx_humi, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Umidade (%)',
                data: humi_values,
                backgroundColor: [ 'rgba(255, 99, 132, 0.2)' ],
                borderColor: [ 'rgba(255,99,132,1)' ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    var pressureChart = new Chart(ctx_press, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Pressão (hPa)',
                data: press_values,
                backgroundColor: [ 'rgba(255, 99, 132, 0.2)' ],
                borderColor: [ 'rgba(255,99,132,1)' ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    var co2Chart = new Chart(ctx_co2, {
        type: 'line',
        data: {
            datasets: [{
                label: 'CO2 (ppm)',
                data: co2_values,
                backgroundColor: [ 'rgba(255, 99, 132, 0.2)' ],
                borderColor: [ 'rgba(255,99,132,1)' ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    var tvocChart = new Chart(ctx_tvoc, {
        type: 'line',
        data: {
            datasets: [{
                label: 'TVOC (ppb)',
                data: tvoc_values,
                backgroundColor: [ 'rgba(255, 99, 132, 0.2)' ],
                borderColor: [ 'rgba(255,99,132,1)' ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}